---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Morph from '../components/Morph.astro';
import Footer from '../components/Footer.astro';
import Projects from '../components/Projects.astro';

---

<Layout
    title="Pulkit Kathuria"
    description="I work at Rakuten designing platform products to power entrepreneurship worldwide."
    image="https://kevincobain2000.github.io/me.jpeg">
    <main>
        <Intro />
        <Projects />
       <Footer />
    </main>
      <Morph />

</Layout>

<style>


</style>
